<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Landing Features</title>
    <link rel="stylesheet" href="landing-features.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="landing-features">
      <section class="feature-text">
        <p class="feature-title">Features</p>
        <p class="feature-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          consequat congue nunc eu tristique. Curabitur vitae lectus urna.
        </p>
      </section>
      <section class="features">
        <div class="feature-item">
          <img
            src="../../assets/app-view/features/Shape1.png"
            alt="first-feature"
          />
          <p class="title-feature">First Feature</p>
          <p class="description-feature">
            Nanotechnology immersion along the information highway will close
            the loop on focusing solely on the bottom line.
          </p>
        </div>
        <div class="feature-item">
          <img
            src="../../assets/app-view/features/Shape2.png"
            alt="second-feature"
          />
          <p class="title-feature">Second Feature</p>
          <p class="description-feature">
            Capitalize on low hanging fruit to identify a ballpark value added
            activity to beta test. Override the digital divide.
          </p>
        </div>
        <div class="third-item">
          <img
            src="../../assets/app-view/features/Shape3.png"
            alt="first-feature"
          />
          <p class="title-feature">Robotics</p>
          <p class="description-feature">
            Bring to the table win-win survival strategies to ensure proactive
            domination. At the end of the day, going forward.
          </p>
        </div>
      </section>
    </section>
  </body>
</html>
