<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Footer</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="footer.css" />
  </head>
  <body>
    <footer>
      <p class="titlu-1">
        Această aplicație a fost dezvoltată în cadrul evenimentului
        <strong> Tabără de Vară 2021 (Ediția Digitală) </strong>
      </p>
      <a class="facebook link" href="https://www.facebook.com/">Facebook </a>
      <a class="youtube link" href="https://www.youtube.com/">Youtube </a>
      <a class="instagram link" href="https://www.instagram.com/">Instagram </a>
    </footer>
  </body>
</html>
