<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Parteneri</title>
    <link rel="stylesheet" href="parteneri.css" />
  </head>
  <body>
    <section class="landing-parteneri">
      <section class="parteneri">
        <figure class="logo-parteneri">
          <img
            src="../../assets/app-view/parteneri/Rectangleministerul.png"
            alt="ministerul"
          />
        </figure>
        <figure class="logo-parteneri">
          <img src="../../assets/app-view/parteneri/cal.png" alt="embassy" />
        </figure>
        <figure class="logo-parteneri">
          <img
            src="../../assets/app-view/parteneri/crunchyroll.png"
            alt="crunchyroll"
          />
        </figure>
        <figure class="logo-parteneri">
          <img src="../../assets/app-view/parteneri/FRIDA.png" alt="frida" />
        </figure>
        <figure class="logo-parteneri">
          <img
            src="../../assets/app-view/parteneri/atelier99.png"
            alt="atelier99"
          />
        </figure>
        <figure class="logo-parteneri">
          <img src="../../assets/app-view/parteneri/TEKEDU.png" alt="tekedu" />
        </figure>
        <figure class="logo-parteneri">
          <img src="../../assets/app-view/parteneri/orange.png" alt="orange" />
        </figure>
        <figure class="logo-parteneri">
          <img
            src="../../assets/app-view/parteneri/goparrot.png"
            alt="goparrot"
          />
        </figure>
        <figure class="logo-parteneri">
          <img
            src="../../assets/app-view/parteneri/atomate.png"
            alt="atomate"
          />
        </figure>
      </section>
      <figure id="line">
        <img src="../../assets/app-view/parteneri/Line.png" alt="line" />
      </figure>
    </section>
  </body>
</html>
